.testClass
{
    text-align: center;
    color: red;    
}

.Header 
{ 
    margin: 0; 
    padding: 20px;
}

.Card
{
    max-width: 350px;
}

.navbar{
    padding: 0;
    margin: 0;
}

.modal-action-buttons > button{
    min-width: 80px;
}

ul.pagination{
    margin-top: 0;
}