.testClass
{
    text-align: center;
    color: red;    
}

.Header 
{ 
    margin: 0; 
    padding: 20px;
}

.Card
{
    max-width: 350px;
}

.navbar{
    padding: 0;
    margin: 0;
}

.modal-action-buttons > button{
    min-width: 80px;
}

ul.pagination{
    margin-top: 0;
}

.timerbox{
    padding: 20px;
    margin: 25px;
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.timerbox select {
    width: 100%;
    margin-bottom: 20px;
}

.timerbox .timertext{
    font-size: 55px;
    font-weight: bold;
    color: #BD362F;
    margin: 20px;
}

.timerbox .btn-space{
    margin-right: 5px;
}